In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "http://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/avia_par_pl.tsv.gz&unzip=true"

In [4]:
routes = pd.read_csv(url,delimiter='\t')

In [5]:
routes.head()

,"unit,tra_meas,airp_pr\time",2021Q1,2021M03,2021M02,2021M01,2020Q3,2020Q2,2020Q1,2020M09,2020M08,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,"FLIGHT,CAF_PAS,PL_EPBY_BG_LBBG",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",:,:,:,:,50,:,62,16,18,...,:,:,:,:,:,:,:,:,:,:

In [9]:
routes_desc = routes['unit,tra_meas,airp_pr\\time'].str.split(',',expand=True)

In [11]:
routes_desc.rename({0:'unit', 1:'tra_meas', 2:'airport'}, axis=1, inplace=True)

In [12]:
routes.head()

,"unit,tra_meas,airp_pr\time",2021Q1,2021M03,2021M02,2021M01,2020Q3,2020Q2,2020Q1,2020M09,2020M08,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,"FLIGHT,CAF_PAS,PL_EPBY_BG_LBBG",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",:,:,:,:,50,:,62,16,18,...,:,:,:,:,:,:,:,:,:,:

In [14]:
routes_desc = routes_desc.join(routes)

In [15]:
routes_desc.drop('unit,tra_meas,airp_pr\\time', axis=1,inplace=True)

In [16]:
routes_desc.head()

,unit,tra_meas,airport,2021Q1,2021M03,2021M02,2021M01,2020Q3,2020Q2,2020Q1,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,FLIGHT,CAF_PAS,PL_EPBY_BG_LBBG,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW,:,:,:,:,50,:,62,...,:,:,:,:,:,:,:,:,:,:

In [17]:
json_link = 'http://www.floatrates.com/daily/chf.json'

In [19]:
pd.read_json(json_link).transpose()

,code,alphaCode,numericCode,name,rate,date,inverseRate
usd,USD,USD,840,U.S. Dollar,1.084481,"Mon, 5 Jul 2021 11:55:01 GMT",0.9221
eur,EUR,EUR,978,Euro,0.914211,"Mon, 5 Jul 2021 11:55:01 GMT",1.093839
gbp,GBP,GBP,826,U.K. Pound Sterling,0.783779,"Mon, 5 Jul 2021 11:55:01 GMT",1.27587
jpy,JPY,JPY,392,Japanese Yen,120.38805,"Mon, 5 Jul 2021 11:55:01 GMT",0.008306
aud,AUD,AUD,036,Australian Dollar,1.444736,"Mon, 5 Jul 2021 11:55:01 GMT",0.692168
...,...,...,...,...,...,...,...
gmd,GMD,GMD,270,Gambian dalasi,56.344072,"Mon, 5 Jul 2021 11:55:01 GMT",0.017748
awg,AWG,AWG,533,Aruban florin,1.962432,"Mon, 5 Jul 2021 11:55:01 GMT",0.509572
aoa,AOA,AOA,973,Angolan kwanza,710.129593,"Mon, 5 Jul 2021 11:55:01 GMT",0.001408
khr,KHR,KHR,116,Cambodian riel,4414.524799,"Mon, 5 Jul 2021 11:55:01 GMT",0.000227
nok,NOK,NOK,578,Norwegian Krone,9.348992,"Mon, 5 Jul 2021 11:55:01 GMT",0.106963